{% extends 'base_.html' %}

{% block main %}
<h3>Ваша корзина {% if not cart.products.count %}пуста{% endif %}</h3>
{% if cart.products.count %}
<table id="cart-table">
  <thead>
    <tr >
      <th>Наименование</th>
      <th>Изображение</th>
      <th>Цена</th>
      <th>Кол-во</th>
        <th>Общая цена</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart.products.all %}
        <tr>
          <td class="center-td">{{ item.content_object.title }}</td>
          <td class="center-td"><img src="{{ item.content_object.image.url }}" class="cart-table-content"></td>
          <td class="center-td">{{ item.content_object.sale_price }} руб.</td>
          <td class="center-td">
              <form method="post" action="/cart/{{item.pk}}/update/">

                  <input class="form_blog_input" name="title" value="{{item.amount}}">
                  <button type="submit">Update</button>
              </form>
          </td>
            <td class="center-td">{{ item.final_price }} руб.</td>
          <td>        <form method="post" action="/cart/{{item.pk}}/delete/">
            <button type="submit">Удалить</button>
        </form></td>
        </tr>
    {% endfor %}

  </tbody>
</table>
{% endif %}
        <tr>
          <td colspan="2"></td>
          <td>Итого:</td>
          <td>{{ cart.total_products }}</td>
          <td><strong>{{ cart.final_price }} руб.</strong></td>
          <td><a href="{% url 'order' %}" class="button7">Перейти к оформлению</a></td>
        </tr>



{% endblock main %}
